:root {
    --light-pink: #EDCED6;
    --dark-pink: #E6999F;
    --light-green: #93CCB3;
    --dark-green: #7DAF93;
    --light-purp: #DDD2F4;
    --dark-purp: #C3A6DC;
    --light-yell: #EDB383;
    --dark-yell: #E88555;
}

body p,
ul,
li {
    font-family: 'Poppins', sans-serif;
    /* background: #f4caa7; */
}

#navbar {
    background: linear-gradient(to right,
            var(--dark-pink),
            var(--dark-yell),
            var(--dark-green),
            var(--dark-purp));
    border-bottom: 5px solid #000;
}

#navbar button:active,
#navbar button:hover {
    font-family: reklame-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    background: #000;
}

#navbar button {
    width: "250px";
    font-family: 'Poppins', sans-serif;
}

#nav-logo:hover, #nav-logo:active {
    color: #000;
}

#footer {
    background: linear-gradient(to right,
            var(--dark-pink),
            var(--dark-yell),
            var(--dark-green),
            var(--dark-purp));
    border-top: 5px solid #000;
}

#footer p {
    font-family: reklame-script, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1,
h2 {
    font-family: reklame-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.main-container {
    margin: 0 50px;
}

#profilePhoto {
    border: 5px solid var(--dark-purp);

}

#portfolioContainer {
    /* margin: 50px; */
    margin-bottom: 100px;
    /* background: var(--light-green); */
}

#profilePhoto {
    border-radius: 50%;
    float: 'right';
    margin: '10px';
}

.card {
    background: #fff;
}

.card p {
    font-family: 'Poppins', sans-serif;
}

.card h3 {
    font-family: reklame-script, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    text-align: center;
}

.card:hover {
    border: 5px solid var(--dark-green);
}