:root {
    --light-pink: #EDCED6;
    --dark-pink: #E6999F;
    --light-green: #93CCB3;
    --dark-green: #7DAF93;
    --light-purp: #DDD2F4;
    --dark-purp: #C3A6DC;
    --light-yell: #EDB383;
    --dark-yell: #E88555;
}

body p, ul, li {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    background: linear-gradient(to right,
            var(--dark-pink),
            var(--dark-yell),
            var(--dark-green),
            var(--dark-purp));
    border-bottom: 5px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}

#navbar button:active,
#navbar button:hover {
    font-family: reklame-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    background: #000;
}

#navbar button {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#nav-logo:hover,
#nav-logo:active {
    color: #000;
}

#footer {
    background: linear-gradient(to right,
            var(--dark-pink),
            var(--dark-yell),
            var(--dark-green),
            var(--dark-purp));
    border-top: 5px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#footer p {
    font-family: reklame-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 5px;
    text-align: center;
}

h1, h2 {
    font-family: reklame-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

h2 {
    border-radius: 10px;
    padding-left: 15px;
}

h3 {
    font-family: reklame-script, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
}

.main-container {
    margin: 0 50px;
}

#profilePhoto {
    border: 5px solid var(--light-green);
}

#portfolioContainer {
    margin-bottom: 100px;
}

#profilePhoto {
    border-radius: 50%;
    float: 'right';
    margin: '10px';
    width: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#contact-btn {
    width: 100px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    align-self: center;
    border: none;
    border-radius: 10px;
}

#contact-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#contact-img img {
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    width: 150px;
}

#footer-contact-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#footer-contact-img img {
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    margin: 5px;
}

#email {
    border: 3px solid var(--dark-pink);
}

#linked-in {
    border: 3px solid var(--dark-yell);
}

#github {
    border: 3px solid var(--dark-green);
}

#dev-art {
    border: 3px solid var(--dark-purp);
}

#about-header {
    background-image: linear-gradient(to right, var(--light-green), rgba(255, 0, 0, 0));
}

#work-header {
    background-image: linear-gradient(to right, var(--dark-purp), rgba(255, 0, 0, 0));
}

#contact-header {
    background-image: linear-gradient(to right, var(--dark-yell), rgba(255, 0, 0, 0));
}

#resume-header {
    background-image: linear-gradient(to right, var(--dark-pink), rgba(255,0,0,0));
}

.card {
    background: #fff;
}

.card p {
    font-family: 'Poppins', sans-serif;
}

.card h3 {
    font-family: reklame-script, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    text-align: center;
}

.card:hover {
    border: 5px solid var(--dark-green);
}